{% include 'header.njk' %}

<body>
<div class="container">
  <form method="post" action="/check">
    <div class="form-group">
      <label for="age" class="bmd-label-floating">Idade</label>
      <input class="form-control" id="age" name="age" />
      <span class="bmd-help">Informe a sua idade</span>
    <div>
    <br>
      <button class="btn btn-primary btn-raised" type="submit">Checar</button>
  </form>
<div>
</body>

{% include 'footer.njk' %}
